__pycache__/
*.py[cod]
*.pyo
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
*.log

.streamlit/
.vscode/
.idea/
.cursor/

venv/
.venv/
env/

*.sqlite3
Model_From_New_Dataset.ipynb
Models_Performance/

.git/
.gitignore
